/* BODY */
:root
{
  --github: #141515;
  --discord: #5464ac;
  --moon: #eee;
  --bg-color: #ccc;
}
body
{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #141515, #4e5d74, #7289da);
}

.fa-moon
{
  cursor: pointer;
}
